.category-nav {
  display: flex;
  column-gap: 15px;
  flex-wrap: wrap; }
  .category-nav div {
    font-size: 25px;
    cursor: pointer;
    align-items: center;
    display: flex;
    column-gap: 10px; }

.category-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.home {
  padding: 20px; }

.product-item {
  position: relative;
  width: 300px;
  cursor: pointer;
  padding-bottom: 20px;
  margin-left: 0; }
  .product-item:hover {
    border: 1px solid black; }
  .product-item__price-tag {
    transition: all 0.5s;
    margin-left: 5px;
    padding: 3px;
    position: absolute;
    bottom: 80px;
    background-color: white;
    font-size: 13px; }
  .product-item__info-container {
    padding-left: 5px;
    font-size: 14px; }

.products {
  margin-top: 30px; }

.icon-button {
  padding: 5px;
  cursor: pointer; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  position: relative;
  overflow-x: hidden;
  background-color: var(--clr-body);
  color: var(--clr-primary); }
